html {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/samosa.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
}

h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: "Spicy Rice", serif;
    background-color: #000000CC;
    color: #fca5a5;
    margin: 0;
    height: 12vh;
    padding-top: 20px;
    padding-bottom: 13px;
    font-size: 4rem;
}

.header {
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    background-color: #000000CC;
    text-align: center;
    padding: 10px 0;
}

.nav-btn {
    background-color: #000000E6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 1%;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    background: transparent;
    font-family: "Noto Sans", sans-serif;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.nav-btn:hover {
    transform: translateY(-7px);
}



#home {
    display: block; 
}

.homeinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}

.chef{
    border-radius: 50%;
    height: 370px;
    width: 380px;
   
}

.hungry{
    font-family: "Spicy Rice", serif;
    background-color: #000000CC ;
    color:#dc2626 ;
    background: transparent;
    font-size: 3rem;
    text-decoration: underline;
}

.homecontent{
    height: 700px;
    width: 800px;
    background-color: #000000CC ;
    margin-left: auto;
    margin-right: auto;

   
}

.para{
    text-align: center;
    
}

.contactno{
    text-align: center;
}

.contact{
    color: #dc2626;
    background: transparent;
}


.aboutus{
    color: #dc2626;
    background: transparent;
    text-decoration: underline;
}

.menu{
    color: #dc2626;
    background: transparent;
    text-decoration: underline;
}

.homeinfo{
    color: #dc2626;
    background: transparent;
    text-decoration: underline;
}

.menu-image{
  height: 160px;
  width: 160px;
margin-left: 30%;
 border: 3px solid red;
 transition: transform 0.3s ease-in-out;
}

.container{
    display: flex;
    flex-wrap: wrap;

}

.menu-item{
    flex: 1 1 calc(50% - 20px);
    
}

.caption{
    font-family: "Playwrite NZ", cursive;
   text-align: center;
    margin-bottom: 10%;
    text-decoration: underline;
    font-size: 1.5em;
}

.tasty{
    height: 300px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid red;
}

.aboutusinfo{
    font-size: 1.5em;
    font-family: "Playwrite NZ", cursive;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10%;
}

.nav-btn.active {
    border-bottom: 2px solid white;
}

.menu-image:hover{
    transform: scale(1.2);
}